<div class="containeer">

    <nav class="navbar navbar-expand-sm">
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <div class="gender">
                    <div class="div">
                        <button class="btn icons" [ngClass]="{'activo': random, 'inactivo':!random }" (click)="Getgender(null)"> <i
                  class="fas fa-random"></i></button>
                        <button class="btn icons" [ngClass]="{'activo': male, 'inactivo':!male }" (click)="Getgender('male')"><i
                  class="fas fa-mars"></i></button>
                        <button class="btn icons" [ngClass]="{'activo': female, 'inactivo':!female }" (click)="Getgender('female')">
                <i class="fas fa-venus"></i> </button>
                    </div>
                    <p>GENDER</p>
                </div>
                <div class="region">
                    <button (click)="GetRegion()" class="icons"><i class="fas fa-flag"></i></button>
                    <p>REGION</p>
                </div>
                <div class="bulk">
                    <button class="icons"><i class="fas fa-archive"></i></button>
                    <p>BULK</p>
                </div>
            </ul>
            <div class="more col-1">
                <button class="icons1"><i class="fas fa-bars"></i></button>
                <p>more</p>
            </div>
        </div>
    </nav>

    <!-- <button (click)="Mostrardatos()">Mostrar datos</button> -->

    <div *ngIf="inicio" class="spacebar">
        <h1>Press Spacebar</h1>
    </div>

    <!-- <div class="bulk">
        <div class="bulkinfo">
            <h1 class="name">{{person.name}} {{person.surname}} </h1>
            <p>{{person.gender}} from {{person.region}} </p>
        </div>
    </div> -->

    <div *ngIf="!inicio" class="info row">
        <div class="col-8 photo">
            <img [src]="person.photo" class="divphoto" alt="">
        </div>
        <div class="col-12">
            <h1 class="name">{{person.name}} {{person.surname}} </h1>
        </div>
        <div class="col-10 datos">
            <ul class="list-group">
                <li><i class=" fas fa-user-alt"></i> {{person.gender}}
                </li>
                <li><i class="fas fa-globe-americas"></i> {{person.region}}
                </li>
                <li> <i class="fas fa-phone"></i> {{person.phone}}
                </li>
                <li><i class="fas fa-birthday-cake"></i> {{person.birthday?.dmy}}
                </li>
                <li><i class="fas fa-envelope"></i> {{person.email}}
                </li>
                <li><i class="fas fa-key"></i> {{person.password}} </li>
            </ul>
        </div>

        <!-- 
        <div class="tips">
            <p class="share "> share = ❤️</p>
        </div> -->

    </div>
</div>