.containeer {
    width: 100vw;
    height: 100vh;
    background: rgb(158, 241, 158);
}

.containeer .navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 18%;
}

.icons,
.icons1 {
    text-align: center;
    font-size: 17px;
    line-height: 20px;
    margin: left;
    height: 38px;
    width: 38px;
    background: cornsilk;
    display: inline-block;
    opacity: 0.5;
    cursor: pointer;
    border-radius: 100%;
}

.gender,
.region,
.bulk,
.more {
    text-align: center;
    color: white;
    font-size: 11px;
}

.activo {
    opacity: 1;
}

.inactivo {
    opacity: .5;
}

.spacebar {
    color: white;
    text-align: center;
}

.info,
.spacebar {
    width: 70%;
    height: 40%;
    margin: auto;
}

.info .datos {
    width: 35%;
    margin: auto 40%;
}

.info .photo,
.info .name {
    text-align: center;
}

.info .photo {
    margin: auto;
}

.info .photo .divphoto {
    height: 180px;
    width: 180px;
    margin: auto;
    border-radius: 100%;
}

.list-group {
    list-style: none;
}